form{
   margin: 40px ;
   padding-top: 20px;
}

.ulu{
    padding-right: 100px;
}
.elu{
    padding-right: 222px;
    
}
.uit{
    margin-top: 3px;
}
.ilu{
    padding-right:110px ;
}
.uli{
    padding-right: 87px;
}
.ul{
    padding-right: 100px;
}
.ulp{
    padding-right: 120px;
}
.uln{
    padding-right: 140px;
}
.uu{
    padding-right: 140px;
}
.ull{
    padding-right: 150px;
}
.ulb{
    padding-right: 110px;
}
.noi{
    padding-right: 850px;
}
.iop{
    background-color: rgb(79, 79, 155);
    border-radius: 2px;
    
 
    
}