.bil{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.oi{
    padding-top: 1px;
    padding-left: 20px;
    margin-right: 1000px;
    background-color: rgb(219, 217, 217);
}

.aio{
    font-family: Arial, Helvetica, sans-serif;
}
.io{
   margin-top: -16px;
    margin-left: -15px;
    margin-right:05px;
    background-color: rgb(108, 189, 99);
}

.para{
    padding-right: 120px;

}
.ara{
    padding-right: 127px;
}
.pra{
    padding-right: 106px;

}
.paa{
    padding-right: 127px;

}
.par{
    padding-right: 138px;
}
.ra{
    padding-right: 172px;
}
.pa{
    padding-right: 174px;
}
.ap{
    padding-right: 127px;
}
.ar{
    padding-right: 160px;
}
.kio{
    padding-right: 185px;
}
.opt{
    margin-top: 3px;
    background-color:rgb(108, 189, 99) ;
}
.you{
    background-color:rgb(108, 189, 99) ;
}