.bold
{
    text-align: center;
    font-weight: bold;
}
.UIT{
   
    background-color: aqua;
}
.TIU{
    text-align: center;
}
/* .inrow{
  empty-cells: hide;
} */
/* .opo{
  text-combine-upright: ;
} */